<?xml version="1.0"?>
<ruleset name="Coding standards for StellarWP packages">
	<description>Coding standards for StellarWP packages.</description>
	<!-- How to scan? See ./docs/coding-standards.md for instructions. -->
	<!-- Usage instructions: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
	<!-- Annotated ruleset: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->

	<!-- What to scan: -->
	<file>./src</file>
	<file>./tests</file>

	<!-- What to ignore: -->
	<exclude-pattern>./tests/coverage</exclude-pattern>

	<!-- - - - - - - - - - -->
	<!-- Configuration     -->
	<!-- - - - - - - - - - -->

	<!-- Show progresss & use colors. -->
	<arg value="sp"/>
	<arg name="colors"/>

	<!-- Enables parallel processing when available for faster results. -->
	<arg name="parallel" value="8"/>

	<!-- Strip the file paths down to the relevant bit and only apply to .php files. -->
	<arg name="basepath" value="./"/>
	<arg name="extensions" value="php"/>

	<!-- Minimum versions required. -->
	<config name="testVersion" value="5.6-"/>
	<config name="minimum_supported_wp_version" value="5.8"/>

	<!-- - - - - - - - - - -->
	<!-- Rules             -->
	<!-- - - - - - - - - - -->

	<!-- No PHP syntax errors. -->
	<rule ref="Generic.PHP.Syntax"/>

	<!-- PHPCompatibilityWP -->
	<!-- https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP" />

	<!-- WordPress Coding Standards -->
	<!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
	<rule ref="WordPress-Extra">
		<!-- Short array syntax is actually *preferred*. -->
		<exclude name="Generic.Arrays.DisallowShortArraySyntax.Found" />

		<!-- Prevent closures from looking really bad. -->
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments" />

		<!-- We're using PSR-4, not writing for WordPress core. -->
		<exclude name="WordPress.Files.FileName" />

		<!-- Function, variable, method naming. -->
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound" />
		<exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.PropertyNotSnakeCase" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase" />

		<!-- Short ternaries are fine. -->
		<exclude name="WordPress.PHP.DisallowShortTernary.Found" />
	</rule>

	<!-- WordPress Docs Coding Standards -->
	<rule ref="WordPress-Docs">
		<exclude name="Generic.Commenting.DocComment.MissingShort" />
		<exclude name="Squiz.Commenting.ClassComment.Missing" />
		<exclude name="Squiz.Commenting.FileComment.Missing" />
		<exclude name="Squiz.Commenting.FileComment.MissingPackageTag" />
		<exclude name="Squiz.Commenting.FileComment.MissingSubpackageTag" />
		<exclude name="Squiz.Commenting.FileComment.SpacingAfterOpen" />
		<exclude name="Squiz.Commenting.FunctionComment.MissingParamComment" />
		<exclude name="Squiz.Commenting.FunctionComment.IncorrectTypeHint" />

		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<!-- Stricter enforecement of general PHP best practices from PSR-2+12 -->
	<rule ref="PSR12.Files.ImportStatement" />
	<rule ref="PSR12.Classes.ClassInstantiation" />
	<rule ref="PSR12.Traits.UseDeclaration" />
	<rule ref="PSR2.Classes.PropertyDeclaration" />
	<rule ref="Squiz.Scope.MethodScope"/>
	<rule ref="Squiz.WhiteSpace.ScopeKeywordSpacing"/>
	<rule ref="PSR2.Methods.MethodDeclaration"/>
	<rule ref="PSR2.Methods.MethodDeclaration.Underscore">
		<type>error</type>
		<message>Method name "%s" must not be prefixed with an underscore to indicate visibility</message>
	</rule>

	<!-- Spacing before/after control structures. -->
	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing" />

	<!-- Disallow long array syntax. -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax" />

	<!-- Namespacing required for classes. -->
	<rule ref="PSR1.Classes.ClassDeclaration" />

	<rule ref="Generic.Commenting.Todo.CommentFound">
		<message>Please review this TODO comment: %s</message>
		<severity>3</severity>
 	</rule>

	<rule ref="Squiz.Commenting.InlineComment.InvalidEndChar">
		<type>warning</type>
	</rule>

	<!-- Tests may use whatever functions needed. -->
	<rule ref="WordPress.WP.AlternativeFunctions">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<!-- Translation & localization -->

	<!-- Rules for localization text-domain. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="stellarwp-container" />
			</property>
		</properties>
	</rule>
</ruleset>
